FireStore Database
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /SmartTrafficInputOneCollection/{docId} {
      allow read, write: if request.auth != null 
        && (request.auth.token.email == "slmndeveloper8@gmail.com" 
            || request.auth.token.email == "ganhuyagtumenbayar2@gmail.com");
    }
  }
}


Storage
rules_version = '2'
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;  // Allows public read and write access
    }
  }
}
    
    
